# Local development
__pycache__/
services/central_storage

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.env/
.venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Development environments
.idea/
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# Logs
*.log

# Local configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Documentation
docs/
*.md

# Docker
Dockerfile
docker-compose.yml

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/

# pipenv
Pipfile.lock